.main-container {
  min-block-size: calc(100vh - 148px);
  margin-block-start: 10px;
  margin-block-end: 28px;
}

.main-error-message {
  font-family: 'Mulish', sans-serif;
  font-size: clamp(0.875rem, 0.5rem + 1.6667vw, 1.125rem);
  text-align: center;
}

.main-loading-message {
  font-family: 'Mulish', sans-serif;
  font-size: clamp(0.875rem, 0.5rem + 1.6667vw, 1.125rem);
  text-align: center;
}
